* {
    box-sizing: border-box;
}

.holder {
    display: flex;
    width: 700px;
    outline: solid;
    flex-wrap: wrap;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   
}
.item {
    width: 200px ;
    height: 100px ;
    background-color: aqua;
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(1) {
    flex-basis: calc(100% / 2);
    order: 1;
    background-color: firebrick;
}

.item:nth-child(5) {
    flex-basis: calc(100% / 2);
    order: 2;
   background-color: darkorange;
}

.item:nth-child(2) {
    flex-basis: calc(100% / 3);
    order: 4;
    background-color: dodgerblue;
}

.item:nth-child(3) {
    flex-basis: calc(100% / 3);
    order: 3;
    background-color: purple
}

.item:nth-child(4) {
    flex-basis: calc(100% / 3);
    order: 4;
    background-color: green;
}

